* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1598770220485-ecdab9cea98f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}

.goals {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-auto-columns: 33%;
    grid-auto-rows: 200px;
}

.no-goals {
    font-size: 2rem;
    text-align: center;
    transform: translateY(100px);
}

.hide {
    display: none;
}

.grid-item {
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    background-color: gray;
}

.close-btn {
    border: none;
    background: none;
    position: relative;
    display: none;
    font-size: 20px;
}

.grid-item:hover {
    transform: scale(1.01);
}

.grid-item.open:hover {
    transform: scale(1);
}

.grid-item.open .close-btn {
    display: block;
    left: 95%;
    top: 2%;
}

.no-symbol {
    margin: 0 auto;
    width: 120px;
}

.days {
    transform: translateY(-115px);
    font-size: 2rem;
    font-weight: 700;
}

.open {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}
