* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1598770220485-ecdab9cea98f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}

.goals {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 200px 200px;
    grid-auto-columns: 33%;
    grid-auto-rows: 200px;
}

.grid-item {
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}
