/*#########################
 BODY AND MAIN CONTAINER
###########################*/

* {
    box-sizing: border-box;
}

body {
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #414345,
        #232526
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #414345,
        #232526
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

.container {
    background-color: white;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

.header {
    font-family: "Rye", cursive;
}

.quote {
    font-family: "Lora", serif;
}

/*#########################
 GOALS CONTAINER
###########################*/

/* NAVBAR */
.navbar {
    background-color: gray;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 40px;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
}

.nav-icons {
    color: white;
    font-size: 1rem;
}

.add-goal {
    justify-self: start;
}

/* GOALS */

.goals {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-auto-columns: 33%;
    grid-auto-rows: 200px;
}

.grid-item {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

.no-goals {
    font-size: 2rem;
    text-align: center;
    transform: translateY(100px);
}

.hide {
    display: none;
}

.goal-item:hover {
    transform: scale(1.01);
}

.open {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}

/* QUIT ITEMS */

.no-symbol {
    margin: 0 auto;
    width: 120px;
}

.days {
    transform: translateY(-115px);
    font-size: 2rem;
    font-weight: 700;
}

/*#########################
 SUBGOALS CONTAINER
###########################*/

.subgoals {
    display: none;
}

.subgoals-nav {
    display: none;
}

.grid-item {
    border-radius: 0;
}

.goal-item.open:hover {
    transform: scale(1);
}

.goal-item.open .percentage {
    display: none;
}

.goal-item.open .subgoals {
    display: block;
}

.goal-item.open .subgoals-nav {
    background-color: gray;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    height: 40px;
}

.goal-item.open .add-subgoal {
    justify-self: start;
}

.invisible {
    visibility: hidden;
}

li {
    list-style: none;
}

.goal-item.open .no-goals {
    font-size: 2rem;
    text-align: center;
    transform: translateY(0);
}
