:root {
    --flex-basis-variable: 0%;
    --stroke-dash-variable: 0;
}

/*###########################################################
                    BODY AND MAIN CONTAINER
#############################################################*/
* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #414345,
        #232526
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #414345,
        #232526
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    font-family: "Lora", serif;
}

.content {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.toggle-goals {
    margin-top: 22rem;
}

.prev-goal {
    padding-left: 5rem;
}

.next-goal {
    padding-right: 5rem;
}

.toggle-goal-icon {
    font-size: 2rem;
    background-color: lightgrey;
    border-radius: 50%;
    padding: 0 10px;
    cursor: pointer;
}

.container {
    background-color: white;
    max-width: 100%;
    margin: 2rem;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

/* HEADER */

h1 {
    font-family: "Cinzel";
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.quote {
    margin: 0 1rem;
}

.quote-text {
    margin-top: 0;
}

/*###########################################################
                    GOALS CONTAINER
#############################################################*/

/* NAVBAR */
.goal-navbar {
    background-color: gray;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 40px;
}

button {
    border: none;
    border-radius: 3px;
    outline: none;
    background: transparent;
    padding: 0 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.goal-nav-button,
.subgoal-nav-button {
    padding: 0 20px;
}

.goal-nav-icon,
.subgoal-nav-icon,
.white {
    color: white;
    font-size: 1rem;
}

.goal-nav__add-goal,
.goal-item.open .subgoal-nav__add-goal {
    justify-self: start;
}

.incorrect-input,
.incorrect-input:focus {
    outline: none !important;
    border: 3px solid red;
    border-radius: 5px;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

/* GOALS */

.goal-container {
    display: none;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-auto-columns: 33%;
    grid-auto-rows: 200px;
}

.goal-container.has-items {
    display: grid;
}

.grid-item {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

.goal-title,
.open-goal-title {
    margin: 1rem auto;
}

.goal-options {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-items: end;
    position: relative;
    top: 5px;
}

.goal-options .goal-options-button__drag {
    justify-self: start;
}

.goal-options.goal-options-button {
    padding: 5px;
}

.goal-title.edit {
    margin-top: 0;
}

.goal-edit {
    margin: 0.85rem;
    display: grid;
    grid-template-columns: 1fr auto;
}

.grey {
    color: grey;
    font-size: 1rem;
}

.subgoal-options-button,
.target-options-button {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    border-radius: 3px;
}

.goal-options-button {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    padding: 5px;
    border-radius: 3px;
}

.goal-options-icon {
    font-size: 0.8rem;
}

input {
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: 0.5px solid grey;
    font-family: sans-serif;
    cursor: text;
}

.add-goal-input__submit:hover,
.add-subgoal-input__submit:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
    cursor: pointer;
}

select {
    padding: 4px;
    border-radius: 3px;
    outline: none;
    border: 0.5px solid grey;
    font-family: sans-serif;
    cursor: pointer;
}

input:focus,
select:focus {
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

.edit-goal-input__submit:hover,
.edit-subgoal-input__submit:hover,
.edit-target-input__submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.goal-options-button__edit,
.subgoal-options-button__edit,
.target-options-button__edit {
    background-color: orange;
}

.goal-options-button__delete,
.subgoal-options-button__delete,
.target-options-button__delete {
    background-color: red;
}

.edit-goal-input__submit,
.edit-subgoal-input__submit,
.edit-target-input__submit,
.target-item-add__submit {
    background-color: green;
    padding: 5px 10px;
    border-radius: 3px;
}

.no-goal,
.no-subgoal {
    height: 200px;
    font-size: 2rem;
    text-align: center;
}

.no-goal__icon,
.no-subgoal__icon {
    display: block;
    font-size: 7rem;
    color: grey;
    opacity: 0.5;
    margin-top: 30px;
}

.no-goal__text,
.no-subgoal__text {
    margin-top: 0;
}

.goal-item:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.open {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}

.subgoal-container .hide {
    display: none;
}

/* QUIT ITEMS */

.goal-quit__symbol {
    margin: 0 auto;
    max-width: 75%;
    max-height: 133px;
}

.goal-quit__days {
    transform: translateY(-7.5rem);
    font-weight: 700;
}

.goal-quit__days-text {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 3rem;
}

.goal-quit__days-days {
    display: block;
    font-size: 0.8rem;
    margin-top: 0;
}

/*#########################
 SUBGOALS CONTAINER
###########################*/

.subgoals,
.subgoals-navbar {
    display: none;
}

.invisible {
    visibility: hidden;
}

.grid-item {
    border-radius: 0;
}

.goal-item.open:hover {
    transform: scale(1);
    cursor: default;
}

.options-displayed {
    cursor: default !important;
}

.goal-item.open .goal-title,
.open-goal-title {
    margin-bottom: 0;
}

.goal-item.open .subgoals {
    display: block;
}

.goal-item.open .subgoals-navbar {
    background-color: gray;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    height: 40px;
}

.goal-item.open .subgoal-container {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
    text-align: start;
    padding: 0 50px;
}

li p {
    margin: 10px;
    overflow-wrap: normal;
}

li:nth-child(2n) {
    background-color: rgb(220, 220, 220, 0.3);
}

.subgoal-checkbox {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: 2.5rem;
    align-items: center;
}

.subgoal-target {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 2.5rem auto;
    grid-auto-rows: auto;
    align-items: center;
    z-index: 2;
}

.subgoal-checkbox.options-displayed {
    grid-template-columns: auto 1fr auto;
}

.subgoal-target.options-displayed {
    grid-template-columns: auto 1fr 1fr auto;
}

.subgoal-checkbox-edit {
    display: grid;
    grid-template-columns: auto 3rem;
    grid-gap: 1rem;
    justify-content: left;
    align-items: center;
}

.subgoal-target-edit {
    display: grid;
    grid-template-columns: 1fr 1fr 3rem;
    grid-gap: 1rem;
    align-items: center;
}

.subgoal-list__complete.has-items {
    border-top: 1px solid rgba(211, 211, 211, 0.4);
}

.subgoal-options__right,
.target-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
}

/* TARGET ITEMS */

.subgoal-target-container {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
}

.target-item-add {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-column: 1 / -1;
    grid-gap: 10px;
    margin-left: 10px;
}

.target-item-add.hide {
    display: none;
}

.target-item-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    align-items: center;
}

.target-list-item {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-template-rows: 2.5rem;
    grid-auto-columns: auto;
    grid-column: 1 / -1;
    align-items: center;
}

.target-edit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-column: 1 / -2;
    grid-gap: 10px;
    align-items: center;
    padding-right: 0.5rem;
}

.target-edit.hide {
    display: none;
}

.subgoal-complete {
    text-decoration: line-through;
    color: grey;
    opacity: 0.7;
}

/* DRAG AND DROP */

.grid-item.dragElem,
.subgoal-item.dragElem {
    opacity: 0.4;
}

.grid-item.over,
.subgoal-item.over {
    background-color: lightgrey;
}

/* PROGRESS BARS */

.subgoal-target__progress {
    flex: 10;
    position: relative;
    display: flex;
    border-radius: 5px;
    flex-basis: 100%;
    height: 10px;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.5);
}

.subgoal-target__progress-filled {
    width: 50%;
    background: orange;
    border-radius: 5px;
    flex: 0;
    flex-basis: 0%;
}

.subgoal-target__progress-filled.filling {
    animation: progress-bar-filling;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes progress-bar-filling {
    0% {
        flex-basis: var(--flex-basis-variable);
    }
}

.subgoal-target__progress-filled.complete {
    background-color: #3bf93b;
    animation: progress-bar-complete;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes progress-bar-complete {
    0% {
        transform: scale(1);
    }
    25% {
        background-color: #7aff7a;
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    75% {
        background-color: #7aff7a;
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* NO GOALS AND HIDE DISPLAY */

.goal-item.open .no-subgoal {
    font-size: 2rem;
    text-align: center;
    transform: translateY(0);
}

.hide {
    display: none;
}

/* PERCENTAGE WHEEEEEEEEELLLLLLL */

.goal-percentage {
    display: flex;
    flex-flow: row nowrap;
}

.percentage-wheel-container {
    width: 100%;
    justify-content: space-around;
}

.goal-item.open .percentage-wheel-container {
    display: none;
}

.display-text-percentage {
    display: none;
}

.goal-item.open .display-text-percentage {
    display: block;
    margin: 0 auto;
}

.circular-chart {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 130px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    display: block;
    visibility: visible;
    stroke-width: 2.8;
    stroke-linecap: round;
}

.circular-chart.circle-start .circle {
    display: none;
}

.circular-chart.filling-incomplete-circle .circle {
    display: block;
    visibility: visible;
    stroke: #ff9f00;
    animation: goal-incomplete;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes goal-incomplete {
    0% {
        visibility: visible;
        stroke-dasharray: var(--stroke-dash-variable) 100;
    }
}

.circular-chart.filling-complete-circle .circle {
    display: block;
    visibility: visible;
    stroke: #3bf93b;
    animation: goal-complete;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes goal-complete {
    0% {
        visibility: visible;
        stroke-width: 2.8;
    }
    25% {
        stroke: #7aff7a;
        stroke-width: 4;
    }
    50% {
        stroke-width: 2.8;
    }
    75% {
        stroke: #7aff7a;
        stroke-width: 4;
    }
    100% {
        stroke-width: 2.8;
    }
}
.circular-chart.circle-zero .circle {
    visibility: hidden;
}

.circular-chart.circle-incomplete .circle {
    display: block;
    visibility: visible;
    stroke: #ff9f00;
}

.circular-chart.circle-complete .circle {
    display: block;
    visibility: visible;
    stroke: #3bf93b;
}

.display-wheel-percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5rem;
    text-anchor: middle;
}

/* ANIMATIONS */

.spin-right {
    animation: show-add-spin-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.spin-left {
    animation: show-add-spin-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes show-add-spin-right {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes show-add-spin-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.slide-in-left {
    animation: slide-in-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slide-out-left {
    animation: slide-out-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        visibility: hidden;
        display: none;
        opacity: 0;
        transform: translateX(-100%);
    }
}

.slide-in-right {
    animation: slide-in-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slide-out-right {
    animation: slide-out-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out-right {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
    }
}

.slide-down {
    animation: slide-down;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slide-up {
    animation: slide-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes slide-down {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-50%);
    }
}
