/*#########################
 BODY AND MAIN CONTAINER
###########################*/

* {
    box-sizing: border-box;
}

body {
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #414345,
        #232526
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #414345,
        #232526
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    font-family: "Lora", serif;
}

.container {
    background-color: white;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

h1 {
    font-family: "Rye", cursive;
}

/*#########################
 GOALS CONTAINER
###########################*/

/* NAVBAR */
.navbar {
    background-color: gray;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 40px;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
}

.nav-icons {
    color: white;
    font-size: 1rem;
}

.add-goal {
    justify-self: start;
}

/* GOALS */

.goals {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-auto-columns: 33%;
    grid-auto-rows: 200px;
}

.grid-item {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

.goal-percentage {
    font-size: 4rem;
}

.edit-delete-options {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    position: relative;
    top: 5px;
    right: 0;
}

.edit-delete-options button {
    padding: 5px;
}

.goal-title.edit {
    margin-top: 0;
}

.edit-goal {
    margin: 0.85rem;
    display: grid;
    grid-template-columns: 1fr auto;
}

.no-goals {
    font-size: 2rem;
    text-align: center;
    transform: translateY(100px);
}

.hide {
    display: none;
}

.goal-item:hover {
    transform: scale(1.01);
}

.open {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}

.subgoal-list-container .hide {
    display: none;
}

/* QUIT ITEMS */

.no-symbol {
    margin: 0 auto;
    width: 120px;
}

.days {
    transform: translateY(-115px);
    font-size: 2rem;
    font-weight: 700;
}

/*#########################
 SUBGOALS CONTAINER
###########################*/

.subgoals {
    display: none;
}

.subgoals-nav {
    display: none;
}

.grid-item {
    border-radius: 0;
}

.goal-item.open:hover {
    transform: scale(1);
}

.goal-item.open .goal-title {
    margin-bottom: 0;
}

.goal-item.open .goal-percentage {
    font-size: 1rem;
    margin: 0;
}

.goal-item.open .subgoals {
    display: block;
}

.goal-item.open .subgoals-nav {
    background-color: gray;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    height: 40px;
}

.goal-item.open .subgoal-list-container {
    height: 300px;
    overflow-y: auto;
}

.goal-item.open .add-subgoal {
    justify-self: start;
}

.invisible {
    visibility: hidden;
}

.subgoal-checkbox {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.subgoal-target {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto;
    grid-auto-rows: 1fr;
    align-items: center;
}

.target-container {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
}

.update-target-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-column: 1 / -1;
    grid-gap: 10px;
    margin-left: 10px;
}

.update-target-inputs.hide {
    display: none;
}

.target-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    align-items: center;
}

.target-list-item {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-auto-columns: auto;
    grid-column: 1 / -1;
    align-items: center;
}

.edit-target {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-column: 1 / -2;
    grid-gap: 10px;
    align-items: center;
}

.edit-target.hide {
    display: none;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
    text-align: start;
    padding: 0 50px;
}

li p {
    margin: 10px;
}

li:nth-child(2n) {
    background-color: rgb(220, 220, 220, 0.2);
}

.fa-square,
.fa-check-square {
    color: grey;
}

.subgoal-complete {
    text-decoration: line-through;
    color: grey;
    opacity: 0.7;
}

.check-target-icon {
    color: grey;
}

.option-icons,
.target-list-item-edit-delete-options {
    padding: 0 5px;
    color: grey;
}

.progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 10px;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.5);
}

.progress-filled {
    width: 50%;
    background: orange;
    flex: 0;
    flex-basis: 0%;
}

.goal-item.open .no-goals {
    font-size: 2rem;
    text-align: center;
    transform: translateY(0);
}
